a {
  color: #00A388;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: inherit;
}

a:hover {
  color: #00A388;
  text-decoration: none;
}

a:visited {
  color: #00A388;
}

.container {
  margin-top: 2em;
}

.contact {
  margin: auto;
}

#position {
  font-variant: small-caps;
  margin: auto;
}

#projects {
  margin-top: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #00A388;
}

svg {
  color: #000000;
}

html {
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 3 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 18px;
  }
}

.fade {
  animation: fadein 3s;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
